.fa {text-decoration: none; color: white; cursor:default; }

.fh1 {text-align: center; font-size: 50pt}

.fo {height: 19%}

.doe {text-align: center;}

.fplay {width: 10%; height: 20%}

.fdivplay {text-align: center;}

.ftplay {text-align: center;}

.splay {width: 10%; height: 20%}

.fplay:hover {
  width: 10%; height: 20%;
    background-image: url(playhover.png);
   }

p.speech {
  color: #000000;
  margin-left: auto;
	position: relative;
	width: 80%;
	height: 15,5%;
	text-align: left;
	line-height: 100px;
	background-color: #fff;
	border: 8px solid #666;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
}
p.speech:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 30px;
	top: 100px;
	border: 25px solid;
	border-color: #666 transparent transparent #666;
}
p.speech:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 38px;
	top: 100px;
	border: 15px solid;
	border-color: #fff transparent transparent #fff;
}

.od {height: 72%}

.ds {text-align: right;}

.sa {text-decoration: none; color: black; cursor:default;}

.fon {
  background-color : #000000;
}
body {
  color:#FFFFFF;
  font-family:'COMIC SANS MS';
  font-size: 20pt;
}
.hh {
  border: 4px double #fff; /* Параметры границы */
  background: #fff; /* Цвет фона */
  padding: 10px; /* Поля вокруг текста */
  border-radius: 8px
}
#gg {
  text-align: right;
  width:32%;
  height:100%;
}
.mm {
  height: 36.5% ;
}

.flight{height: 3%}

.vim {text-align: right;}

.sb {width: 100%}

body {background-color: black; color: white; font-family: 'COMIC SANS MS';}
