.ftplay {text-align: center;}

.fa {text-decoration: none; color: white; cursor:default; }

.fh1 {text-align: center; font-size: 50pt}

.fo {height: 19%}

.doe {text-align: center; padding-left: 15% ; padding-right: 15%}

h6.speech {
  font-size: 13pt;
  padding-left: 20px ;
  padding-right: 1px ;
  color: #000000;
  margin-left: auto;
	position: relative;
	width: 80%;
	height: 15.5%;
	text-align: left;
	line-height: 50px;
	background-color: #fff;
	border: 8px solid #666;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
}
h6.speech:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 5%;
	top: 100%;
	border: 25px solid;
	border-color: #666 transparent transparent #666;
}
h6.speech:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 5.5%;
	top: 100%;
	border: 15px solid;
	border-color: #fff transparent transparent #fff;
}

h6.speech2 {
  font-size: 12pt;
  padding-left: 20px ;
  padding-right: 1px ;
  color: #000000;
  margin-left: auto;
	position: relative;
	width: 80%;
	height: 30.1%;
	text-align: left;
	line-height: 50px;
	background-color: #fff;
	border: 8px solid #666;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
}
h6.speech2:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 5%;
	top: 100%;
	border: 25px solid;
	border-color: #666 transparent transparent #666;
}
h6.speech2:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 5.5%;
	top: 100%;
	border: 15px solid;
	border-color: #fff transparent transparent #fff;
}

h6.speech3 {
  font-size: 12pt;
  padding-left: 20px ;
  padding-right: 1px ;
  color: #000000;
  margin-left: auto;
	position: relative;
	width: 80%;
	height: 35.5%;
	text-align: left;
	line-height: 50px;
	background-color: #fff;
	border: 8px solid #666;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
}
h6.speech3:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 5%;
	top: 100%;
	border: 25px solid;
	border-color: #666 transparent transparent #666;
}
h6.speech3:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 5.5%;
	top: 100%;
	border: 15px solid;
	border-color: #fff transparent transparent #fff;
}


.od {height: 72%}

.od2 {background-size: contain;
  background-repeat: no-repeat;
  background-image: url(nasamap.jpg);
  height:68%;
padding-left: 20px ;
padding-right: 1px ;
color: #000000;
margin-left: auto;
position: relative;
width: 80%;
text-align: left;
line-height: 50px;
background-color: #fff;
border: 8px solid #666;
-webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
-webkit-box-shadow: 2px 2px 4px #888;
-moz-box-shadow: 2px 2px 4px #888;
box-shadow: 2px 2px 4px #888;}

.od3 {height:51.1% }

.od4 {height: 41.8%; text-align: center;}

.od5 {height: 67%}

.ds {text-align: right;}

.sa {text-decoration: none; color: black; cursor:default;}

.fon {
  background-color : #000000;
}
body {
  color:#FFFFFF;
  font-family:'COMIC SANS MS';
  font-size: 20pt;
}
.hh {
  text-align: center;
	border: 8px solid #666;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
}
#gg {
  text-align: right;
  width:32%;
  height:100%;
}
.mm {
  height: 36.5% ;
}

.flight{height: 3%}

.vim {text-align: right;}

.sb {width: 100%}

.shop {text-align: center;letter-spacing: 10pt; font-size: 30pt}

.div {text-align: left;}

.divh {height:40% ;}

.guide {position: absolute;top:67.9%; left:3%;}

body {background-color: black; color: white; font-family: 'COMIC SANS MS';}
