.fon {
  background-color : #000000;
}
body {
  color:#FFFFFF;
  font-family:'COMIC SANS MS';
  font-size: 20pt;
}
.hh {
  border: 4px double #fff; /* Параметры границы */
  background: #fff; /* Цвет фона */
  padding: 10px; /* Поля вокруг текста */
  border-radius: 8px
}
#gg {
  width:250px;
  height:250px;
}
.mm {
  margin-left: auto;
  margin-right: auto
}
